PORT=8082
DB_HOST=127.0.0.1
DB_PORT=5433
DB_USER=expense_user
DB_PASSWORD=ExpensePassword@1234
DB_NAME=expense_db

# RabbitMQ configuration
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=RabbitMQPassword@1234
RABBITMQ_HOST=127.0.0.1
RABBITMQ_PORT=5672
RABBITMQ_QUEUE=auth_notifications
