# Database Configurations for Auth Service
AUTH_DB_USER=auth_user
AUTH_DB_PASSWORD=AuthPassword@1234
AUTH_DB_NAME=auth_db

# Database Configurations for Expense Service
EXPENSE_DB_USER=expense_user
EXPENSE_DB_PASSWORD=ExpensePassword@1234
EXPENSE_DB_NAME=expense_db

# Redis Configurations
REDIS_PASSWORD=RedisPassword@1234

# RabbitMQ Configurations
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=RabbitMQPassword@1234
