PORT=8081
DB_HOST=localhost
DB_PORT=5432
DB_USER=auth_user
DB_PASSWORD=AuthPassword@1234
DB_NAME=auth_db
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=RedisPassword@1234
ADMIN_EMAIL=admin@expensemate.com
ADMIN_PASSWORD=SuperSecureAdminPassword123!
PRINT_MFA_CODES_TO_CONSOLE=true
JWT_SECRET=super_secret_jwt_key_here
JWT_TTL=24h
JWT_ISSUER=auth-service
